:root {
    --color-corporativo: #00b7ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
}

html {
    scroll-behavior: auto !important;
}

a {
    text-decoration: none;
    color: black;
}

.si-lectura-facil {
    line-height: 2em;
}


#presentacion video {
    height: 100vh;
}


#popup-inicio-web{
    display: none;
    opacity: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: opacity 1.5s ease-out;
}

#popup-carta {
    position: absolute;
    height: 75vh;
    width: 80vw;
    background-color: var(--color-corporativo);
    border-radius: 50px;
    top: calc((25vh + 4em) / 2);
    left: 10vw;
    padding: 3em 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#popup-carta h2 {
    font-size: 7em;
}

#popup-carta > p {
    font-size: 3em;
}

#boton-activar img {
    height: 40px;
}

#cierra-popup {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    color: black;
    display: flex;
    align-items: center;
    gap: 1em;
}

#cierra-popup p {
    font-size: 1.5em;
}

#cierra-popup span {
    font-size: 3em;
}

#cierra-popup:hover {
    cursor: pointer;
}

#boton-activar {
    position: absolute;
    bottom: 2em;
    right: 2em;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 1em 2em;
    border-radius: 3em;
}

#boton-activar:hover {
    cursor: pointer;
}

nav {
    height: 4em;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2em;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: white;
    z-index: 99;
}

#imagen-inicio {
    display: flex;
    align-items: center;
}

#isotipo {
    height: 2.5em;
}

nav div {
    display: flex;
    align-items: center;
}

#abreMenu, #cierraMenu {
    display: none;
}

#navLinks {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2em;
}

#navLinks li {
    position: relative;
}

#navLinks li:not(.menu-active):after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -2px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#navLinks li:not(.menu-active):hover:after { 
    width: 100%; 
    left: 0; 
}

.menu-active:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -2px;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%;
}

#presentacion {
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

#contenedores-absolutos {
    position: absolute;
    top: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em;
    height: 144px;
}

#navegacion {
    display: flex;
    align-items: center;
    gap: .5em;
}

#navegacion span {
    font-size: 2.5em;
    font-weight: 200;
    line-height: normal;
}

#botonLecturaFacil {
    position: fixed;
    right: 4em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    padding: 0.5em 1em;
    border: 2px solid black;
    border-radius: 32px;
    background-color: white;
    z-index: 99;
}

#botonLecturaFacil:hover {
    cursor: pointer;
}

#botonLecturaFacil img {
    height: 35px;
}

#botonLecturaFacil p {
    font-size: 0.75em;
    line-height: initial;
}

#presentacion #scroll-quienes {
    position: absolute;
    bottom: 2%;
    left: 2%;
    height: 80px;
    width: 80px;
    display: flex;
    gap: .5em;
    align-items: center;
}

#scroll-quienes:hover {
    cursor: pointer;
}

#presentacion span {
    font-size: 3em;
    text-align: center;
    animation: 0.75s ease-in-out infinite alternate up-and-down;
}

#presentacion figure {
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

@keyframes up-and-down {
    from {
      transform: rotate(90deg) translateX(-.1em);
    }
  
    to {
        transform: rotate(90deg) translateX(.1em);
    }
  }

#presentacion span:hover {
    cursor: pointer;
}

#quienes-somos {
    height: calc(100vh - 4em);
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-corporativo);
}

#quienes-todo {
    display: flex;
    gap: 2em;
    flex-direction: row;
}

#quienes-somos p {
    max-width: 50em;
    font-size: 1.25em;
}

#quienes-uno h1{
    font-size: 5em;
    margin-bottom: .25em;
}

#quienes-uno * {
    font-weight: 200;
}

#quienes-somos.si-lectura-facil {
    justify-content: initial;
}

#quienes-somos.si-lectura-facil #quienes-todo {
    max-width: 50vw;
    flex-direction: column;
}

.si-lectura-facil #quienes-uno h1 {
    margin-bottom: .75em;
}

#texto-escondido {
    overflow: hidden;
    transition: height 1s ease-out;
    height: 7em;
}

#flecha-texto-escondido {
    font-size: 2.5em;
    transform: translateY(10px) rotate(0);
    transition: transform .25s ease;
}

#flecha-texto-escondido.aparece {
    transform: translateY(10px) rotate(-90deg);
}

#texto-escondido.escondido {
    height: 0;
}

#quienes-somos .leer-mas p {
    font-size: 1.5em;
    text-decoration: underline;
    display: inline-block;
}

#quienes-somos .leer-mas:hover {
    cursor: pointer;
}




footer {
    background-color: black;
    padding: 3em 3em 1em 3em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    row-gap: 2em;
}

footer a, 
footer p {
    color: white;
}

#siguenos {
    font-weight: bold;
}

#socials {
    grid-row: 2;
}

.redSocial {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-bottom: 0.5em;
    font-size: 0.8em;
}

.redSocial img {
    height: 25px;
}

#escribenos {
    text-align: center;
}

#footer-mail {
    text-align: center;
    grid-row: 2;
}

#suscribete {
    text-align: center;
    margin-bottom: 2em;
}

#footer-form {
    grid-row: 1/3;
    width: 70%;
    place-self: flex-end;
    display: flex;
    flex-direction: column;
}

#footer-form input[type="text"] {
    border-radius: 7px;
    border: none;
    padding: .25em;
    padding-left: 1em;
    margin-bottom: .25em;
}

#footer-form input[type="submit"] {
    margin-top: 1em;
    padding: .5em 2em;
    border-radius: 10px;
    align-self: flex-end;
    border: none;
    background-color: var(--color-corporativo);
}

#footer-form input[type="submit"]:hover {
    cursor: pointer;
}

#declaracionCopy {
    grid-column: 1/4;
    text-align: center;
    font-size: 0.75em;
}












#presentacionHistorias {
    height: 70vh;
    display: flex;
    align-items: center;
}

#presentacionHistorias h3 {
    transform: translateY(32px);
    font-weight: 400;
    width: clamp(25em, 50%, 50em);
    padding: 0 4em;
}

#historias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
}

.historia {
    aspect-ratio: 1;
    display: grid;
    grid-template-rows: 85% 1fr;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.nombre-estado {
    text-align: center;
    align-self: flex-start;
}

.historia-placeholder {
    height: 80%;
    width: 120%;
    background-color: rgb(199, 199, 199);
    border-radius: 30px;
    align-self: center;
    justify-self: center;
}

.imagen-historia {
    height: 80%;
    border-radius: 30px;
    align-self: center;
    justify-self: center;
}






#presentacionPersona > p {
    padding: 2em 4em;
}

#navegacion-a-historias {
    position: relative;
}

#navegacion-a-historias::after {
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    background: black;

}

#presentacionPersona #libro {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#libro {
    margin-top: 12em;
}

#libroTexto {
    position: relative;
    margin: 0 4em;
}

#libroTexto h1 {
    font-size: 4em;
}

#libroTexto p {
    margin: 3em 0;
}

#libroTexto .button {
    position: absolute;
    bottom: 0;
}

#libroImagenVert {
    display: none;
}

#libroImagen {
    display: grid;
    place-items: center;
    margin: 0 4em;
}

#libroImagen img {
    width: 300px;
    transform: rotate(-2deg);
}

.button {
    color: white;
    background-color: black;
    padding: 1em;
    border-radius: 50px;
}

#videoPersona {
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

#videoPersona h2 {
    margin-left: 2rem;
    font-size: 3em;
    place-self: flex-start;
}

#videoPersona p {
    margin-left: 2rem;
    place-self: flex-start;
}

#videoPersona span {
    transform: translateY(.25em);
}

#videoRene {
    width: 70%;
    aspect-ratio: 16/9;
}

#albumPersona {
    padding: 2em;
    padding-top: 4em;
}

#albumPersona h2 {
    font-size: 3em;
}

#carruselFotos {
    margin: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

#carruselFotos span {
    font-size: 4em;
}

#carruselFotos span:hover {
    cursor: pointer;
}


.si-lectura-facil #carruselFotos {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(5, auto);
    align-items: initial;
    justify-content: initial;
    gap: initial;
}

.si-lectura-facil #carruselFotos figure {
    overflow: hidden;
    border-radius: 25px;
    margin: .5em;
}

.si-lectura-facil #carruselFotos img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#foto1-galeria, #foto2-galeria, #foto3-galeria {
    grid-row: 1;
}

#foto4-galeria, #foto5-galeria, #foto6-galeria {
    grid-row: 2;
}

#foto2-galeria {
    grid-column: 2/4;
}

#foto4-galeria {
    grid-column: 1/3;
}

.no-lectura-facil #carruselFotos img {
    height: 400px;
}

#carruselFotos #contendor-fotos {
    width: 77%;
    overflow: hidden;
}

#carruselFotos #todas-fotos {
    display: flex;
    flex-direction: row;
    gap: 1em;
    transition: transform 0.03s linear;
    transform: translateX(0);
}














#quieres-colaborar {
    margin-top: 12em;
    display: flex;
    flex-direction: column;
}

#quieres-colaborar h2 {
    font-size: 5em;
    margin-bottom: 0.5em;
    font-weight: 200;
}

.texto-colabora {
    font-size: 1.5em;
    margin-left: 4rem;
}

#formas-colaborar {
    margin: 0 4rem;
    display: flex;
    flex-wrap: wrap;
    padding: 4em 8em;
    justify-content: center;
    gap: 2em;
}

.colabora {
    background-color: var(--color-corporativo);
    width: 40%;
    padding: 0 1em;
    padding-bottom: 1em;
    text-align: center;
    display: grid;
    grid-template-rows: 12em auto;
    border-radius: 25px;
    aspect-ratio: 1/1;
}

.colabora h2 {
    font-size: 1.75em;
    padding: 0 .5em;
}

.colabora-uno {
    /* margin-bottom: 2em; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.colabora img {
    height: 60px;
    margin-top: 2em;
}

#carrito {
    transform: scale(1.3);
}

#hablaimg {
    transform: scale(1.2);
}

.colabora a {
    text-decoration: underline;
}

.colabora p {
    margin-top: 2em;
}










#quieres-ayudar {
    margin-top: 12em;
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
}

#quieres-ayudar h2 {
    font-size: 5em;
    margin-bottom: 1em;
    line-height: 1em;
}

#disenar {
    padding: 4em;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
}

.textbox {
    margin-left: 1em;
    border: none;
    width: 100%;
}

#disenar-form input[type="file"] {
    display: none;
}

.textbox:focus {
    outline: none;
}

.disenar-text {
    height: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding-bottom: .5em;
    margin-bottom: .5em;
}

#disenar-portfolio {
    display: flex;
    align-items: center;
}

#disenar-portfolio img {
    height: 28px;
    transform: translateY(2px);
}

#disenar-portfolio label {
    cursor: pointer;
}

#disenar-por-que {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
    gap: .5em;
    margin-bottom: 1em;
}

#por-que-diseno {
    resize: none;
    border: none;
    outline: none;
}

.button[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    padding: .75em 1.5em;
    border-radius: 25px;
}

#disenar-form input[type="submit"] {
    float: right;
}

#lectura-facil h2 {
    font-size: 5em;
    margin-bottom: 1em;
    line-height: 1em;
}

#lectura-facil-todo {
    padding: 4em;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
}

#lectura-facil-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#lectura-facil-form input[type="submit"]{
    float: right;
    align-self: flex-end;
}

#lectura-email {
    margin-bottom: 1em;
}








#productosTienda{
    min-height: 100vh;
    padding: 12em 4em;
    padding-bottom: 4em;
}

#productosTiendaTodo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.producto {
    width: 350px;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.producto img {
    width: 350px;
    aspect-ratio: 1/1;
    border-bottom: 2px solid black;
}

.nombre-precio {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: .5em;
    margin: .5em 1em;
}

.producto h2 {
    font-size: 1em;
}

.producto p {
    font-size: 1.5em;
}

.tallas-comprar {
    margin: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tallas-comprar p {
    font-size: 1em;
}

.producto a {
    background-color: black;
    padding: .5em 1em;
    font-size: .85em;
    color: white;
    border-radius: 30px;
}

.sin-talla {
    justify-content: flex-end;
}

#conocePuntosVenta {
    background-color: var(--color-corporativo);
    padding: 4em;
}

#conocePuntosVenta h2.no-lectura-facil {
    font-size: 3em;
    margin-bottom: 2em;
}

#conocePuntosVenta h2.si-lectura-facil {
    font-size: 3em;
    line-height: initial;
}

#conocePuntosVenta > p.si-lectura-facil {
    font-size: 2em;
    line-height: initial;
    margin: 2em 0;
}

#puntosVenta {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    width: 80vw;
}

.puntoVenta {
    display: flex;
    flex: 40%;
}

.puntoVenta a {
    text-decoration: underline;
    width: 10em;
}

.puntoVenta p {
    width: 12em;
}












@media only screen and (max-width: 500px) {

    #popup-carta {
        height: 400px;
        padding: 1em;
        display: initial;
        border-radius: 25px;
    }

    #popup-carta h2 {
        margin-top: .8em;
        margin-bottom: .5em;
        font-size: 4em;
        text-align: center;
    }

    #popup-carta > p {
        font-size: .8em;
        line-height: 2em ;
        text-align: center;
    }

    #navegacion span {
        font-weight: 300;
    }

    #navegacion p {
        display: none;
    }

    #boton-activar {
        width: 200px;
        padding: 1em 1.25em;
        bottom: 2em;
        right: 50%;
        transform: translateX(50%);

    }

    #boton-activar img {
        height: 30px;
    }

    #boton-activar-texto p {
        font-size: .8em;
    }

    #cierra-popup {
        right: 1em;
        gap: .25em;
    }

    #cierra-popup p {
        font-size: 1em;
    }

    #cierra-popup span {
        font-size: 2em;
    }







    #isotipo {
        height: 35px;
    }



    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    #siguenos {
        margin-bottom: 0.5rem;
    }

    #escribenos, #suscribete {
        margin-top: 3rem;
        margin-bottom: 0.5rem;
    }

    .redSocial img {
        height: 20px;
    }

    #declaracionCopy {
        margin-top: 2rem;
    }

    #footer-form {
        place-self: initial;
        width: auto;
    }

    #footer-form input[type="submit"]{
        align-self: center;
    }




    
    #abreMenu {
        display: flex;
        align-items: center;
        font-size: 2.5em;
    }

    #abreMenu:hover {
        cursor: pointer;
    }

    nav {
        padding: 0 1em;
    }

    nav > div {
        position: absolute;
    }

    #navLinks {
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 100vw;
        transition: left 1s ease;
        background-color: var(--color-corporativo);
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        gap: 0;
        align-items: center;
        padding: 0 2em;
    }

    #navLinks li {
        text-align: center;
        font-size: 2em;
    }

    #cierraMenu {
        display: initial;
        justify-self: flex-end;
    }

    #cierraMenu span {
        font-size: 1.5em;
    }

    #cierraMenu:hover{
        cursor: pointer;
    }

    #navLinks span {
        color: black;
    }

    .menu-active:after {
        height: 0;
    }

    #navLinks li:not(.menu-active):after {
        height: 0;
    }

    #contenedores-absolutos {
        left: -2em;
        top: 2em;
    }
    
    #botonLecturaFacil {
        z-index: 90;
        top: 5em;
        right: 1em;
        padding: 0.5em 1em;
    }
    
    #botonLecturaFacil img {
        height: 30px;
    }
    
    #botonLecturaFacil p {
        font-size: 0.6em;
        font-weight: 500;
    }

    #presentacion {
        display: block;
    }

    #presentacion figure {
        display: flex;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
    }

    #presentacion figure video {
        height: initial;
        width: 200vw;
    }

    #quienes-somos {
        height: unset;
        min-height: calc(100vh - 4em);
        padding: 4em 10%;
    }

    #quienes-uno h2 {
        font-size: 1.2em;
        font-weight: 500;
    }

    #quienes-somos p {
        font-size: .9em;
    }

    #quienes-somos.si-lectura-facil #quienes-uno h2 {
        letter-spacing: -1px;
    }

    #quienes-somos.si-lectura-facil #quienes-dos p {
        font-size: .8em;
        letter-spacing: -.8px;
    }

    #texto-escondido {
        height: 10em;
    }

    #quienes-todo, #quienes-somos.si-lectura-facil #quienes-todo {
        flex-direction: column;
        max-width: initial;
    }
    
    
    #flecha-texto-escondido {
        transform: translateY(16px) rotate(0);
    }




    #presentacionHistorias h3 {
        padding: 0 2rem;
    }

    #presentacionHistorias h3.si-lectura-facil {
        font-size: .85em;
    }

    #historias {
        grid-template-columns: initial;
        grid-template-rows: initial;
        grid-auto-rows: auto;
    }


    .historia {
        grid-template-rows: 80% 1fr;
        aspect-ratio: 3/4;
    }

    .historia-placeholder {
        width: 115%;
    }



    
    
    
    
    
    
    #quieres-colaborar {
        margin-top: 10em;
    }
    
    #quieres-colaborar h2 {
        font-size: 2em;
        margin: 0 1rem;
        margin-bottom: 1rem;
    }
    
    #quieres-colaborar p {
        font-size: 1em;
        margin: 0 1rem;
    }

    #quieres-colaborar p.si-lectura-facil {
        font-size: .9em;
    }
    
    #formas-colaborar {
        padding: 2em 0;
        flex-direction: column;
        gap: 2em;
        margin: initial;
        align-items: center;
    }
    
    .colabora {
        width: 90%;
        display: flex;
        flex-direction: column;
        aspect-ratio: initial;
        gap: 1em;
        padding: 1.5em;
    }

    .colabora img {
        margin: 0;
    }

    .colabora p {
        margin-top: 0;
    }

    #ayudanosimg {
        margin: 1em;
    }
    
    .colabora-uno {
        margin-bottom: 0;
    }

    .colabora p.si-lectura-facil {
        font-size: .8em;
        letter-spacing: -.3px;
    }
    
    
    
    
    
    
    #quieres-ayudar {
        margin-top: 10em;
    }
    
    #quieres-ayudar h2 {
        font-size: 2.5em;
        margin: 0 1rem;
    }
    
    #disenar {
        display: flex;
        flex-direction: column;
        padding: 1em;
    }

    #disenar-form label, #disenar-form p, #lectura-email label {
        font-size: .8em;
    }

    #disenar-texto.si-lectura-facil p {
        font-size: .9em;
    }
    
    #lectura-facil h2 {
        font-size: 2.5em;
        margin: 0 1rem;
    }
    
    #lectura-facil-todo {
        display: flex;
        flex-direction: column;
        padding: 1em;
        margin-bottom: 2em;
    }

    #lectura-facil-texto.si-lectura-facil p {
        font-size: .8em;
        letter-spacing: -.5px;
    }
    
    
    
    
    
    
    #presentacionPersona #libro {
        display: flex;
    }
    
    #libroTexto {
        margin: 0 1em;
    }
    
    #libroTexto p {
        margin: 1em 0;
    }
    
    #libroTexto > p.si-lectura-facil {
        font-size: 0.8em;
    }

    #libroImagen {
        display: none;
    }
    
    #libroImagenVert {
        display: flex;
        margin-top: 2em;
        margin-bottom: 5em;
        width: 100%;
        justify-content: center
    }
    
    #libroImagenVert img {
        width: 70%;
    }
    
    #libroTexto .button {
        font-size: .75em;
    }

    #videoPersona {
        height: initial;
        margin: 4em 0;
    }

    #videoPersona h2{
        margin: 0 1rem;
        font-size: 2em;
    }

    #videoRene {
        width: 80%;
    }

    #videoPersona p {
        margin-left: 1rem;
        font-size: .9em;
    }

    #albumPersona {
        padding: 1em;
    }

    #albumPersona h2 {
        font-size: 2em;
    }

    #albumPersona .si-lectura-facil h2 {
        line-height: initial;
    }

    #carruselFotos {
        justify-content: initial;
        margin: 0;
        padding: 1em 0;
        overflow: hidden;
        gap: 1em;
    }

    #carruselFotos span {
        display: none;
    }

    #carruselFotos img {
        height: 300px;
    }

    .si-lectura-facil #carruselFotos {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
    }

    #foto1-galeria, #foto3-galeria {
        grid-row: 1;
    }

    #foto2-galeria {
        grid-row: 2;
        grid-column: 1/3;
    }

    #foto5-galeria, #foto6-galeria {
        grid-row: 3;
    }

    #foto4-galeria {
        grid-row: 4;
        grid-column: 1/3;
    }

    .no-lectura-facil #carruselFotos #contendor-fotos {
        width: initial;
        display: flex;
        justify-content: flex-start;
        overflow-x: scroll;
    }

    .no-lectura-facil #carruselFotos #contendor-fotos img {
        height: 300px;
        padding: 1em 0;
    }

    #productosTienda {
        padding: 10em 2em 2em 2em;
    }

    #productosTiendaTodo {
        justify-content: center;
        gap: 1em;
    }

    .producto {
        width: 300px;
    }

    .producto img {
        width: 100%;
    }

    #conocePuntosVenta {
        padding: 2em;
    }

    #conocePuntosVenta h2.no-lectura-facil {
        font-size: 1.6em;
        letter-spacing: -1.2px;
        margin-bottom: 2rem;
    }

    #conocePuntosVenta h2.si-lectura-facil {
        font-size: 1.6em;
        letter-spacing: -1.2px;
    }

    #conocePuntosVenta > p.si-lectura-facil {
        font-size: 1.25em;
    }

    .puntoVenta p {
        width: 150px;
    }

    #puntosVenta {
        flex-wrap: initial;
        flex-direction: column;
    }

    .puntoVenta {
        flex-direction: column;
    }

    .puntoVenta a, .puntoVenta p {
        width: initial;
    }





}